/* Styling for the main container */
.account-statement {
  background-color: rgba(13, 26, 52, 0.8);
  display: block;
  padding: 20px;
  width: 85%;
  height: 48vh;
  border-radius: 20px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 51.5%);
}

/* Styling for the background header */
.background {
  padding-bottom: 1%;
  text-align: center;
  font-size: 18px;
  color: #e4d9ba;
  font-weight: bold;
}

.background h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Styling for the account number */
.statname {
  padding-bottom: 1%; 
  margin-left: 20px;
  color: #CCCCCC;
  font-family: Calibri;
  font-size: 20px;  
}

/* Styling for the table */
.tablestate {
  border-collapse: collapse;
  width: 100%;
}

/* Styling for table elements */
table,
th,
td,
tr {
  border: 1px solid black;
  height: 40px;
  padding: auto 20px;
}

/* Styling for the table header */
.titstat {
  background-color: burlywood;
  border: 2px solid black;
  /* background-color: rgb(160, 211, 141); */
}

/* Styling for the table rows */
.tablerow {
  background-color: azure;
}

/* Styling for the logout button */
.statelogout {
  margin-left: 82.8%;
  background-color: burlywood;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transform: translateY(16.8vh);
}

/* Styling for the back button */
.back-button2 {
  position: absolute;
  text-align: center;
  right: 47%;
  bottom: 26%;
  color: rgb(13, 26, 52);
  background-color: burlywood;
  border-radius: 10px;
  border-width: 0;
  box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
  cursor: pointer;
  width: 60px;
  height: 6vh;
}

/* Styling for the pagination */
.Pagination {
  position: absolute;
  display: flex;
  font-size: 15px;
}

.PageNumber {
  color: white;
  background-color: black;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: calibri; 
}

.NextButton{
  width: 65px;
  cursor: pointer;
}

.PrevButton{
  cursor: pointer;
}
.PrevButton, .NextButton, .PageNumber{
 transform: translate(1100px, 175px);
}