.checklogout {
  background-color: burlywood;
  border: none;
  border-radius: 10px;
  color:  #0D1A34D6;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
  transform: translate(1200px, 100px );
}

.book {
  margin-top: 60px;
  text-align: center;
  color: black;
}

.containerStylecheque {
  margin-top: 20px;
  margin-left: 25% ;
  border-radius: 15px;
  background-color: rgba(13, 26, 52, 0.9);
  width: 50%;
  padding: 10px 40px ;
  color: #e8e8f0;
}

.book1 {
  color: #e4d9ba;
}

.car {
  margin-top: 20px;
}

.chequelab {
  font-weight: bold;
}

.salcheque {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  transform: translateX(71px);
}

.chequelab1 {
  font-weight: bold;
}

.sal1cheque {
  width: 60%;
  transform: translateX(15px);
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.request {
  font-weight: bold;
}

.textreqcheque {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transform: translateX(84px);
}

.sub {
  text-align: center;
  margin-top: 20px;
}

.button-56 {
  background-color: burlywood;
  /* Green */
  border: none;
  color:  #0D1A34D6;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.button-56:hover {
  background-color: rgb(238, 197, 148);
}
