.checklogout {
  background-color: burlywood;
  color: #150101;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px; /* Adjusted margin bottom */
  border-radius: 5px;
  transition: background-color 0.3s ease; 
  transform: translate(1240px, 95px );
}

.book {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 23px;
  text-align: center;
  color: #e4d9ba;
}

.containerStylecheque {
  font-size: 18px;
  margin-top: 105px;
  margin-left: 25.3% ;
  border-radius: 20px;
  background-color: rgba(13, 26, 52, 0.9);
  width: 50%;
  padding: 20px 40px ;
  color: #e8e8f0;
  height: 60vh;
}

.book1 {
  margin-top: 20px;
  font-size: 19px;
  color: white;
}

.car {
  margin-top: 20px;
}

.chequelab {
  font-weight: bold;
}

.salcheque {
  font-size: 16px;
  width: 60%;
  padding: 10px 20px;
  margin: 8px 0;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  transform: translateX(79px);
}

.chequelab1 {
  font-weight: bold;
}

.sal1cheque {
  font-size: 16px;
  width: 60%;
  transform: translateX(15px);
  padding: 10px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.request {
  font-weight: bold;
}

.textreqcheque {
  font-size: 16px;
  width: 60%;
  padding: 10px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transform: translateX(94px);
}

.sub {
  text-align: center;
  margin-top: 20px;
}

.button-56 {
  background-color: burlywood;
  /* Green */
  border: none;
  color:  #0D1A34D6;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.button-56:hover {
  background-color: rgb(238, 197, 148);
}
