.cardlogout {
  display: flex;
  position: relative;
  background-color: burlywood;
  color: #150101;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin: auto;
  transform: translate(40em, 7em);
}

.credittit {
  padding-top: 10px;
  text-align: center;
  color: #e4d9ba;
  font-size: 23px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 20px;
}

.containerStyle {
  height: 65vh;
  margin-left: 23%;
  border-radius: 20px;
  background-color: rgba(13, 26, 52, 0.9);
  color: #e8e8f0;
  width: 52%;
  padding: 20px 40px;
  font-size: 18px;
  transform: translateY(7em);
}

.namecredit {
  font-size: 16px;
  width: 60%;
  padding: 10px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transform: translateX(164px);
}

.namlab{
  color: #ccc;
  font-weight: bold;
  }

.labcredit {
  font-weight: bold;
}

.salcred {
  font-size: 16px;
  width: 60%;
  padding: 10px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transform: translateX(62px);
}

.labcredit1 {
  font-weight: bold;
}

.salcred1 {
  font-size: 16px;
  width: 60%;
  transform: translateX(112px);
  padding: 10px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.mesgreq {
  font-weight: bold;
}

.textreqmsg {
  font-size: 16px;
  width: 60%;
  padding: 10px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transform: translateX(76px);
}

.credit {
  text-align: center;
  margin-top: 20px;
}

.credit button {
  background-color: burlywood;
  /* Green */
  border: none;
  color: rgb(13, 26, 52);
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 8px;
  cursor: pointer;
  border-radius: 4px;
}

.credit button:hover {
  background-color: rgb(238, 197, 148);
}
