.cardlogout {
  background-color: burlywood;
  color:  #0D1A34D6;
  border: none;
  padding: 10px 24px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
  transform: translate(1200px, 100px);
}

.credittit {
  margin-top: 60px;
  text-align: center;
  color: black;
}

.containerStyle {
  margin-top: 20px;
  margin-left: 25%;
  border-radius: 15px;
  background-color: rgba(13, 26, 52, 0.9);
  color: #e8e8f0;
  width: 50%;
  padding: 10px 40px;
  font-size: medium;
}

.namecredit {
  margin-top: 10px;
  color: #e4d9ba;
  font-weight: bold;
  margin-bottom: 20px;
}

.labcredit {
  font-weight: bold;
}

.salcred {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transform: translateX(84px);
}

.labcredit1 {
  font-weight: bold;
}

.salcred1 {
  width: 60%;
  transform: translateX(128px);
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.mesgreq {
  font-weight: bold;
}

.textreqmsg {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transform: translateX(87px);
}

.credit {
  text-align: center;
  margin-top: 20px;
}

.credit button {
  background-color: burlywood;
  /* Green */
  border: none;
  color: rgb(13, 26, 52);
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 8px;
  cursor: pointer;
  border-radius: 4px;
}

.credit button:hover {
  background-color: #45a049;
}
