/* Header styles */
.header {
    background-color:rgba(13, 26, 52, 0.841);
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100; /* Adjust the z-index as needed */
  }
  
  /* Logo styles */
  .logo {
    color: #d02323;
    text-decoration: none;
    font-size: 1.2rem;
    justify-content: center;
    text-align: auto;
  }

  .logo a {
    color: rgb(228, 217, 186); 
    font-weight: bold; 
    font-size: 20px;
    text-decoration: none;
  }
  
 .log{
    width: 260px;
    height: 80px;
    margin-right: 950px;
 }
 .log_left{
    display: flex;
    flex: 1;
    justify-content: flex-end;
 }