@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css);


body{
    min-height: 100vh;
    background: url("https://images.pexels.com/photos/1767664/pexels-photo-1767664.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat;
    background-position: center;
    background-size: cover;
}       
.body{
    
    height: 20px;
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    
}
.h2login{
    align-items: center;
    padding:10px;
    font-family: 'Segoe UI', sans-serif;
    font-size:23px;
    text-transform: capitalize;
    margin-top: -30px;
    margin-bottom: 10px;
    color: #e4d9ba;
    
}
.h3login{
    font-size: 19px;
    text-align: center;
    margin-left: -105px;
    margin-top: 2px;
    color:white;
}



.cover {
    width: 27em;
    background-color:rgba(13, 26, 52, 0.9);
    position:fixed;
    border-radius: 0.7em;
    box-shadow:  0em 0.3em 0.3em rgba(14, 23, 48, 0.3);
    display:flex;
    flex-direction: column;
    margin-left: 30px;
    justify-content:center;
    padding: 10px;
    height: 50ex;
    margin-top: 130px;
   

}

.inputlabelnam:focus, .inputlabelpas:focus{
    outline: none;


}
.sp1{
    margin-bottom: -25px;
    margin-right: 75px;
}
.btnlogin{
    border: 1px solid rgba(222, 184, 135, 1);
    font-size: 15px;
    width: 40%;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.05s;
    border-radius: 0.3em;
    cursor: pointer;
    background-color: rgba(222, 184, 135, 1);    
    margin-top: 20px;
    color:rgb(13, 26, 52);
}
.btn1login{
    border: 1px solid rgba(222, 184, 135, 1);
    font-size: 15px;
    width: 40%;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.05s;
    border-radius: 0.3em;
    cursor: pointer;
    background-color: rgba(222, 184, 135, 1);    
    margin-top: 20px;
    color:rgb(13, 26, 52);
    margin-left: -40px;
}
.btnlogin:hover{
    transform:scale(1.1) ;
}
.btn1login:hover{
    transform:scale(1.1) ;
}



.input-group{
    position: relative;
    width: 70%;
    }

.icon1{
    position: absolute;
    left: 120%;
    top: 63%;
}
.icon2 {
    position: absolute;
    left: 120%;
    top: 63%;
}
.inputlabelnam {
    width: 120%;
    height: 38px;
    border:2px solid white;
    background-color: rgba(255, 255, 255, 0.841);
    border-radius: 0.15em;
    text-align: left;
    font-size:larger;
    justify-items: center;
    margin-left: 1.75em;
    margin-top: 6px;
    padding-left: 10px;
    
}
.inputlabelpas {
    padding-left: 10px;
    width: 120%;
    height: 38px;
    border:2px solid white;
    background-color: rgba(255, 255, 255, 0.841);
    border-radius: 0.15em;
    text-align: left;
    font-size:larger;
    justify-items: center;
    margin-left: 1.75em;
    margin-top: 6px;
}

