/* Styling for the my-account-container section */
.my-account-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(13, 26, 52,0.8);
  text-align: center;
  padding: 20px;
  width: 85%;
  height: 48vh;
  border-radius: 20px;
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* Styling for the my-Accounts header */
.my-Accounts {
  display: flex;
  justify-content: center;
  font-size: 23px;
  font-weight: bold;
  margin-top: 2%;
}

.my-Accounts p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #e4d9ba;

}

/* Styling for the account name */
.accountname {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 45.5%;
  color: #CCCCCC;
  padding-top: 7.5%;
  padding-left: 22.55%;
}

/* Styling for the table data */
.tdclass {
  background-color: azure;
}

/* Styling for the table */
.tableaccount {
  border-collapse: collapse;
  margin-top: 20px;
  width: 100%;
}

/* Styling for the table headers and cells */
table, th, td {
  margin: auto;
  border: 1px solid black;
  height: 80px;
  padding: 10px 30px;
}

/* Styling for the back button */
.back-button1 {
  position: absolute;
  bottom: 29%; 
  left: 50%;
  transform: translateX(-50%);
  color: black;
  font-size: medium;
  padding: 9px;
  background-color: burlywood;
  border-radius: 10px;
  border-width: 0;
  box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
  cursor: pointer;
}

/* Styling for the table header */
.titaccount {
  border: 2px solid black;
  background-color: rgb(160, 211, 141);
  border-inline: 2px;
}

/* Styling for the logout button */
.btnlogout2 {
  position: absolute;
  top: 16.8%;
  right: 12%;
  padding: 8px 16px;
  background-color: burlywood;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.account-link{
  background-color: white;
}
