.my-account-container {
  text-align: center;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 80%;
  margin-left: 140px;
}


.my-Accounts {
  display: flex;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  margin-top: 7%;
}

.my-Accounts p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(13, 26, 52);

}


.accountname {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 600px;
  margin-top: 10px;
  color: white;
}


.tdclass {
  background-color: azure;
}


.tableaccount {
  border-collapse: collapse;
  margin-top: 20px;
  width: 100%;
}


table, th, td {
  border: 1px solid black;
  height: 80px;
  padding: 10px 30px;
}


.back-button1 {
  display: inline-block;
  margin: 0 auto;
  justify-content: center;
  color: black;
  font-size: medium;
  padding: 9px;
  background-color: burlywood;
  border-radius: 10px;
  border-width: 0;
  box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
  cursor: pointer;
  margin-left: 650px;
  margin-top: 30px;
}


.titaccount {
  border: 2px solid black;
  background-color: aquamarine;
  border-inline: 2px;
}

.btnlogout2 {
  position: absolute;
  top: 88px;
  right: 20px;
  padding: 8px 16px;
  background-color: burlywood;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
