* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

.body1 {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 200vh;
}

.Profile {
  width: 70%;
  background-color: rgba(13, 26, 52,0.9);
  border-radius: 1.5em;
  padding: 1.5em;
}

.h1profil {
  color:  #E4D9BA;
  font-family: Calibri serif;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 20px;
}

.lab {
  display: block;
  margin-bottom: 5px;
  color: #fff;
  margin-left: 3px;
}

.profilinput {
  width: calc(100% - 20px); /* Adjust width for padding */
  padding: 8px; /* Add padding */
  margin-bottom: 20px;
  border: 2px solid #fff;; /* Add border */
  border-radius: 8px;
}

.btnprofil,
.btnn1profil {
  width: 40%;
  padding: 10px 0; /* Add padding */
  background-color: #1695ab;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-bottom: 5px;
  margin-left: 60px;
}

.btnprofil:hover,
.btnn1profil:hover {
  background-color: #0f7c8f;
}

.profilelogout {
  position: absolute;
  top: 100px;
  right: 20px;
  padding: 8px 16px;
  background-color: burlywood;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.error {
  color: red;
}