/* Stolendebitcard.css */

.stolenlogout {
  background-color: #4caf50;
  /* Green */
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.stoltit {
  text-align: center;
  color: #4caf50;
}

.containerStylestolen {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.labstol {
  font-weight: bold;
}

.salstol {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.labstol1 {
  font-weight: bold;
}

.salstol1 {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.labstol2 {
  font-weight: bold;
}

.salstol2 {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.labstol3 {
  font-weight: bold;
}

.salstol3 {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.labstol4 {
  font-weight: bold;
}

.stol {
  text-align: center;
  margin-top: 20px;
}

.stol button {
  background-color: #4caf50;
  /* Green */
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.stol button:hover {
  background-color: #45a049;
}

