.stolenlogout {
  background-color: burlywood;
  border: none;
  border-radius: 10px;
  color:  #0D1A34D6;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
  transform: translate(1200px, 100px );
}

.stoltit {
  margin-top: 62px;
  text-align: center;
  color: black;
}


.containerStylestolen {
  margin-top: 20px;
  margin-left: 25%;
  border-radius: 15px;
  background-color: rgba(13, 26, 52, 0.9);
  width: 50%;
  padding: 10px 40px;
  padding-top: 15px;
  padding-right: 10px;
  color: #e8e8f0;
}

.labstol {
  font-weight: bold;
}

.salstol,
.salstol1,
.salstol2,
.salstol3,
.salstol4 {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.salstol {
  transform: translateX(72px);
}

.salstol1{
  transform: translateX(134px);
}

.salstol2{
  transform: translateX(99px);
}

.salstol3{
  transform: translateX(113px);
}

.salstol4{
  transform: translateX(93px);

}

.stol {
  text-align: center;
  margin-top: 20px;
}

.stol button {
  background-color: burlywood;
  border: none;
  color: #0D1A34D6;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 7px;
  cursor: pointer;
  border-radius: 4px;
}

.stol button:hover {
  background-color: #cfcfcf;
}
