/* Container for the entire component */
.srcont
{
  display: flex;
  justify-content: center;

}
.T_Container {
  text-align: center;
  background-color: rgba(13, 26, 52, 0.8);
  display: block;
  padding: 20px;
  width: 85%;
  height: 90vh;
  border-radius: 20px;
  position: relative;
  top: 15vh;
}

/* Logout button */
.viewlogout {
right: 5%;
top: 8%;
position: absolute;
padding: 6px;
border: none;
border-radius: 8px;
background-color: burlywood;
}

.T_title {
  font-size: 18px;
  color: #e4d9ba;
}


.viewstrow{
  background-color: white;
}

/* Name display */
.book123 {  
  margin-left: 50%;
  padding-bottom: 2px;
  color: white;
  font-family: Calibri;
  font-size: 20px;
}

/* Border around the form */
.T_border {
  padding: 5px;
  margin-top: 12px;
  margin-bottom: 20px;
}

/* Select dropdown for account number */
.salview12 {
  width: 20%;
  padding: 5px 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 20px;
}

.reqType {
  padding: 5px 5px;
  width: 20%;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 20px;
  transform: translateY(1px);
}

/* Table for displaying request status */
.Table {
  border-collapse: collapse;
  width: 100%;
}

/* Table elements */
table,
th,
td,
tr {
  border: 1px solid black;
  height: 40px;
  padding: auto 20px;
}


/* Table header */
.viewtab {
  border: 2px solid black;  
  background-color: rgb(160, 211, 141);
}

/* Table row */
.viewclass {
  background-color: white;
}

/* Pagination container */
.PagiNation {
  position: relative;
  display: flex;
  justify-content: left;
  font-size: 15px;
}

/* Page number display */
.Pagenumber {
  color: white;
  background-color: black;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: calibri;
}

/* Next and Previous buttons */
.Nextbutton,.Prevbutton {
  width: 65px;
  cursor: pointer;
}

/* Submit button */
.T_Submit {
  background-color: burlywood;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}

.Nextbutton, .Prevbutton, .Pagenumber{
  position: relative;
  transform: translate(900px, -40px);
}

.viewlab{
  margin-right: 50px;
  color: white;
  font-weight: bold;
  font-size: large;
}


.reqlab12{
  font-size: large;
  color: white;
  transform: translateY(3px);
  font-weight: bold;
}

