/* Container for the entire component */
.body
{
  display: flex;
  justify-content: center;
}
.T_Container {
  background-color: rgba(13, 26, 52, 0.8);
  display: block;
  padding: 10px;
  width: 85%;
  border-radius: 20px;
  position: relative;
  margin-top: 45%;
  height: 75vh;
  padding-top: 0px;
  padding-bottom: 0;
}

/* Logout button */
.viewlogout {
  margin-left: 82.8%;
  background-color: burlywood;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transform: translateY(16.8vh);
}

/* Title of the component */
.T_title {
  text-align: center;
  font-size: 18px;
  color: #e4d9ba;
  font-weight: bold;
}

/* Name display */
.book123 {  
  margin-left: 20px;
  color: #CCCCCC;
  font-family: Calibri;
  font-size: 20px;
}

/* Border around the form */
.T_border {
  border: 1px solid black;
  padding: 5px;
  margin-top: 12px;
  margin-bottom: 20px;
}

/* Select dropdown for account number */
.salview {
  width: 30%;
  padding: 3px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 19px;
}

.reqType {
  width: 30%;
  padding: 3px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 40px;
}

/* Table for displaying request status */
.Table {
  border-collapse: collapse;
  width: 100%;
}

/* Table elements */
table,
th,
td,
tr {
  border: 1px solid black;
  height: 40px;
  padding: auto 20px;
}

/* Table header */
.viewtab {
  border: 2px solid black;
  background-color: rgb(160, 211, 141);
}

/* Table row */
.viewclass {
  background-color: azure;
}

/* Pagination container */
.Pagination {
  position: absolute;
  display: flex;
  justify-content: left;
  font-size: 15px;
}

/* Page number display */
.PageNumber {
  color: white;
  background-color: black;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: calibri;
}

/* Next and Previous buttons */
.NextButton,.PrevButton {
  width: 65px;
  cursor: pointer;
}

/* Submit button */
.T_Submit {
  background-color: burlywood;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}
