/* Container for the entire component */
.srcont
{
  display: flex;
  justify-content: center;
}
.T_Container {
  background-color: rgba(13, 26, 52, 0.8);
  display: block;
  padding: 20px;
  width: 85%;
  height: 60vh;
  border-radius: 20px;
  position: relative;
  top: 15vh;
}

/* Logout button */
.viewlogout {
right: 10%;
top: 30%;
position: absolute;
padding: 6px;
border: none;
border-radius: 8px;
background-color: burlywood;
}

.T_title {
  text-align: center;
  font-size: 18px;
  color: #e4d9ba;
}

/* Name display */
.book123 {  
  margin-left: 7px;
  padding-bottom: 2px;
  color: #CCCCCC;
  font-family: Calibri;
  font-size: 20px;
}

/* Border around the form */
.T_border {
  padding: 5px;
  margin-top: 12px;
  margin-bottom: 20px;
}

/* Select dropdown for account number */
.salview {
  width: 20%;
  padding: 3px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 19px;
}

.reqType {
  width: 20%;
  padding: 3px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 40px;
}

/* Table for displaying request status */
.Table {
  border-collapse: collapse;
  width: 100%;
}

/* Table elements */
table,
th,
td,
tr {
  border: 1px solid black;
  height: 40px;
  padding: auto 20px;
}


/* Table header */
.viewtab {
  border: 2px solid black;  
  background-color: rgb(160, 211, 141);
}

/* Table row */
.viewclass {
  background-color: azure;
}

/* Pagination container */
.PagiNation {
  position: relative;
  display: flex;
  justify-content: left;
  font-size: 15px;
}

/* Page number display */
.Pagenumber {
  color: white;
  background-color: black;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: calibri;
}

/* Next and Previous buttons */
.Nextbutton,.Prevbutton {
  width: 65px;
  cursor: pointer;
}

/* Submit button */
.T_Submit {
  background-color: burlywood;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}

.Nextbutton, .Prevbutton, .Pagenumber{
  position: relative;
  transform: translate(900px, 50px);
}

.viewlab{
  color: white;
}

.reqtlab{
  color: white;
}

.reqlab12{
  color: white;
}